node_modules/
dist/
build/
.env
.DS_Store
*.log
release/
backend/release/
backend/postgres-portable/pgdata_prod/
backend/postgres-portable/pgdata_dev/
frontend-build/
*.exe
*.zip
*.msi
*.asar
.prisma/
coverage/
.vscode/
