--
-- PostgreSQL database dump
--

\restrict kEeeHcIVVhWVs4aAMI33bXuxW637zfp7i82n8mAc4uyCVgsIIccO7vbDu4lZviG

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: calcular_monto_reserva(integer, date, date, integer, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calcular_monto_reserva(p_id_espacio integer, p_check_in date, p_check_out date, p_adultos integer, p_ninos integer DEFAULT 0) RETURNS numeric
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_noches         INT;
    v_total_personas INT;
    v_precio_base    DECIMAL(12,2);
    v_precio_extra   DECIMAL(12,2);
    v_personas_extra INT;
    v_monto          DECIMAL(12,2);
    v_espacio        espacio%ROWTYPE;
BEGIN
    SELECT * INTO v_espacio FROM espacio WHERE id_espacio = p_id_espacio;
 
    v_noches         := p_check_out - p_check_in;
    v_total_personas := p_adultos + p_ninos;
 
    IF v_total_personas <= 1 THEN
        v_precio_base := v_espacio.precio_persona_1;
        v_personas_extra := 0;
    ELSIF v_total_personas = 2 THEN
        v_precio_base := v_espacio.precio_persona_2;
        v_personas_extra := 0;
    ELSE
        v_precio_base    := v_espacio.precio_persona_2;
        v_personas_extra := v_total_personas - 2;
    END IF;
 
    v_precio_extra := v_personas_extra * COALESCE(v_espacio.precio_adicional, 80000);
    v_monto := (v_precio_base + v_precio_extra) * v_noches;
 
    RETURN v_monto;
END;
$$;


ALTER FUNCTION public.calcular_monto_reserva(p_id_espacio integer, p_check_in date, p_check_out date, p_adultos integer, p_ninos integer) OWNER TO postgres;

--
-- Name: espacio_disponible(integer, date, date); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.espacio_disponible(p_id_espacio integer, p_check_in date, p_check_out date) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_conflictos INT;
BEGIN
    SELECT COUNT(*) INTO v_conflictos
    FROM reserva
    WHERE id_espacio     = p_id_espacio
      AND estado_reserva = 'activa'
      AND tipo_reserva   = 'alojamiento'
      AND check_in       < p_check_out   -- la reserva existente empieza antes de que el nuevo salga
      AND check_out      > p_check_in;   -- la reserva existente termina despuÔÇÜs de que el nuevo entra
 
    RETURN v_conflictos = 0;
END;
$$;


ALTER FUNCTION public.espacio_disponible(p_id_espacio integer, p_check_in date, p_check_out date) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id_log integer NOT NULL,
    id_usuario integer,
    username character varying(80) NOT NULL,
    accion character varying(60) NOT NULL,
    descripcion text,
    entidad character varying(40),
    entidad_id integer,
    ip character varying(45),
    fecha timestamp(6) without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_log_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_log_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_log_seq OWNER TO postgres;

--
-- Name: audit_log_id_log_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_log_seq OWNED BY public.audit_log.id_log;


--
-- Name: categoria_gasto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoria_gasto (
    id integer NOT NULL,
    nombre character varying(60) NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.categoria_gasto OWNER TO postgres;

--
-- Name: categoria_gasto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoria_gasto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_gasto_id_seq OWNER TO postgres;

--
-- Name: categoria_gasto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoria_gasto_id_seq OWNED BY public.categoria_gasto.id;


--
-- Name: categoria_inventario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categoria_inventario (
    id_categoria integer NOT NULL,
    nombre character varying(80) NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categoria_inventario OWNER TO postgres;

--
-- Name: categoria_inventario_id_categoria_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categoria_inventario_id_categoria_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_inventario_id_categoria_seq OWNER TO postgres;

--
-- Name: categoria_inventario_id_categoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categoria_inventario_id_categoria_seq OWNED BY public.categoria_inventario.id_categoria;


--
-- Name: configuracion_hotel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuracion_hotel (
    id integer NOT NULL,
    nombre_hotel character varying(200),
    direccion character varying(300),
    telefono character varying(50),
    nit character varying(50),
    email character varying(100),
    ciudad character varying(100),
    fecha_actualizacion timestamp without time zone DEFAULT now(),
    hora_check_in character varying(10) DEFAULT '15:00'::character varying,
    hora_check_out character varying(10) DEFAULT '13:00'::character varying
);


ALTER TABLE public.configuracion_hotel OWNER TO postgres;

--
-- Name: configuracion_hotel_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.configuracion_hotel_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.configuracion_hotel_id_seq OWNER TO postgres;

--
-- Name: configuracion_hotel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.configuracion_hotel_id_seq OWNED BY public.configuracion_hotel.id;


--
-- Name: cuenta_espacio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuenta_espacio (
    id_item integer NOT NULL,
    id_reserva integer NOT NULL,
    nombre_producto character varying(150) NOT NULL,
    cantidad integer DEFAULT 1 NOT NULL,
    valor_unitario numeric(12,2) NOT NULL,
    valor_total numeric(12,2) GENERATED ALWAYS AS (((cantidad)::numeric * valor_unitario)) STORED,
    fecha_registro timestamp without time zone DEFAULT now(),
    anotaciones text,
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    metodo_pago character varying(50)
);


ALTER TABLE public.cuenta_espacio OWNER TO postgres;

--
-- Name: cuenta_espacio_id_item_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cuenta_espacio_id_item_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cuenta_espacio_id_item_seq OWNER TO postgres;

--
-- Name: cuenta_espacio_id_item_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cuenta_espacio_id_item_seq OWNED BY public.cuenta_espacio.id_item;


--
-- Name: cuenta_persona; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cuenta_persona (
    id_item_persona integer NOT NULL,
    id_huesped integer,
    nombre_persona character varying(150) NOT NULL,
    id_reserva integer,
    fecha date DEFAULT CURRENT_DATE NOT NULL,
    descripcion character varying(200) NOT NULL,
    cantidad integer DEFAULT 1 NOT NULL,
    valor_unitario numeric(12,2) NOT NULL,
    valor_total numeric(12,2) GENERATED ALWAYS AS (((cantidad)::numeric * valor_unitario)) STORED,
    fecha_registro timestamp without time zone DEFAULT now(),
    estado character varying(20) DEFAULT 'pendiente'::character varying,
    metodo_pago character varying(50)
);


ALTER TABLE public.cuenta_persona OWNER TO postgres;

--
-- Name: cuenta_persona_id_item_persona_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cuenta_persona_id_item_persona_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cuenta_persona_id_item_persona_seq OWNER TO postgres;

--
-- Name: cuenta_persona_id_item_persona_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cuenta_persona_id_item_persona_seq OWNED BY public.cuenta_persona.id_item_persona;


--
-- Name: espacio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.espacio (
    id_espacio integer NOT NULL,
    numero character varying(10) NOT NULL,
    tipo_espacio character varying(20) NOT NULL,
    tipo_habitacion character varying(20),
    capacidad_personas integer,
    precio_persona_1 numeric(12,2),
    precio_persona_2 numeric(12,2),
    precio_adicional numeric(12,2) DEFAULT 80000,
    activo boolean DEFAULT true,
    tiene_minibar boolean DEFAULT false,
    estado_limpieza character varying(20) DEFAULT 'limpia'::character varying,
    url_ical character varying(500)
);


ALTER TABLE public.espacio OWNER TO postgres;

--
-- Name: espacio_id_espacio_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.espacio_id_espacio_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.espacio_id_espacio_seq OWNER TO postgres;

--
-- Name: espacio_id_espacio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.espacio_id_espacio_seq OWNED BY public.espacio.id_espacio;


--
-- Name: gasto_operativo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gasto_operativo (
    id_gasto integer NOT NULL,
    categoria character varying(60) NOT NULL,
    descripcion character varying(300) NOT NULL,
    monto numeric(12,2) NOT NULL,
    fecha date NOT NULL,
    comprobante character varying(100),
    proveedor_nombre character varying(200),
    es_recurrente boolean DEFAULT false NOT NULL,
    dia_recurrente integer,
    notas text,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.gasto_operativo OWNER TO postgres;

--
-- Name: gasto_operativo_id_gasto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.gasto_operativo_id_gasto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gasto_operativo_id_gasto_seq OWNER TO postgres;

--
-- Name: gasto_operativo_id_gasto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.gasto_operativo_id_gasto_seq OWNED BY public.gasto_operativo.id_gasto;


--
-- Name: huesped; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.huesped (
    id_huesped integer NOT NULL,
    nombre_completo character varying(150) NOT NULL,
    telefono character varying(20),
    documento character varying(30),
    tipo_documento character varying(20),
    procedencia character varying(100),
    fecha_creacion timestamp without time zone DEFAULT now(),
    firma text
);


ALTER TABLE public.huesped OWNER TO postgres;

--
-- Name: huesped_id_huesped_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.huesped_id_huesped_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.huesped_id_huesped_seq OWNER TO postgres;

--
-- Name: huesped_id_huesped_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.huesped_id_huesped_seq OWNED BY public.huesped.id_huesped;


--
-- Name: inventario_minibar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_minibar (
    id_inventario integer NOT NULL,
    id_espacio integer NOT NULL,
    nombre_producto character varying(150) NOT NULL,
    cantidad integer DEFAULT 0 NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    fecha_vencimiento date,
    fecha_actualizacion timestamp without time zone DEFAULT now()
);


ALTER TABLE public.inventario_minibar OWNER TO postgres;

--
-- Name: inventario_minibar_id_inventario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventario_minibar_id_inventario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventario_minibar_id_inventario_seq OWNER TO postgres;

--
-- Name: inventario_minibar_id_inventario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventario_minibar_id_inventario_seq OWNED BY public.inventario_minibar.id_inventario;


--
-- Name: movimiento_inventario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimiento_inventario (
    id_movimiento integer NOT NULL,
    id_producto integer NOT NULL,
    tipo character varying(10) NOT NULL,
    motivo character varying(30) NOT NULL,
    cantidad numeric(12,3) NOT NULL,
    stock_antes numeric(12,3) NOT NULL,
    stock_despues numeric(12,3) NOT NULL,
    precio_unitario numeric(12,2) DEFAULT 0 NOT NULL,
    referencia_id integer,
    referencia_tipo character varying(30),
    notas text,
    fecha timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.movimiento_inventario OWNER TO postgres;

--
-- Name: movimiento_inventario_id_movimiento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.movimiento_inventario_id_movimiento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimiento_inventario_id_movimiento_seq OWNER TO postgres;

--
-- Name: movimiento_inventario_id_movimiento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.movimiento_inventario_id_movimiento_seq OWNED BY public.movimiento_inventario.id_movimiento;


--
-- Name: origen_reserva; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.origen_reserva (
    id_origen integer NOT NULL,
    nombre character varying(50) NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.origen_reserva OWNER TO postgres;

--
-- Name: origen_reserva_id_origen_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.origen_reserva_id_origen_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.origen_reserva_id_origen_seq OWNER TO postgres;

--
-- Name: origen_reserva_id_origen_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.origen_reserva_id_origen_seq OWNED BY public.origen_reserva.id_origen;


--
-- Name: producto_inventario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.producto_inventario (
    id_producto integer NOT NULL,
    nombre character varying(200) NOT NULL,
    descripcion text,
    categoria character varying(50) NOT NULL,
    unidad_medida character varying(30) DEFAULT 'unidad'::character varying NOT NULL,
    precio_costo numeric(12,2) DEFAULT 0 NOT NULL,
    precio_venta numeric(12,2) DEFAULT 0 NOT NULL,
    stock_actual numeric(12,3) DEFAULT 0 NOT NULL,
    stock_minimo numeric(12,3) DEFAULT 0 NOT NULL,
    id_proveedor integer,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.producto_inventario OWNER TO postgres;

--
-- Name: producto_inventario_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.producto_inventario_id_producto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_inventario_id_producto_seq OWNER TO postgres;

--
-- Name: producto_inventario_id_producto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.producto_inventario_id_producto_seq OWNED BY public.producto_inventario.id_producto;


--
-- Name: proveedor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.proveedor (
    id_proveedor integer NOT NULL,
    nombre character varying(200) NOT NULL,
    nit character varying(30),
    telefono character varying(30),
    email character varying(100),
    direccion character varying(300),
    ciudad character varying(100),
    contacto character varying(150),
    notas text,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.proveedor OWNER TO postgres;

--
-- Name: proveedor_id_proveedor_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.proveedor_id_proveedor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.proveedor_id_proveedor_seq OWNER TO postgres;

--
-- Name: proveedor_id_proveedor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.proveedor_id_proveedor_seq OWNED BY public.proveedor.id_proveedor;


--
-- Name: reserva; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reserva (
    id_reserva integer NOT NULL,
    id_huesped integer NOT NULL,
    id_espacio integer NOT NULL,
    tipo_reserva character varying(15) DEFAULT 'alojamiento'::character varying NOT NULL,
    dni_tipo character varying(20) DEFAULT 'reserva'::character varying,
    check_in date,
    check_out date,
    cantidad_adultos integer DEFAULT 1,
    cantidad_ninos integer DEFAULT 0,
    fecha_evento date,
    hora_inicio time without time zone,
    hora_fin time without time zone,
    estado_reserva character varying(20) DEFAULT 'activa'::character varying NOT NULL,
    monto_total numeric(12,2),
    estado_pago character varying(20) DEFAULT 'pendiente'::character varying,
    monto_pagado numeric(12,2) DEFAULT 0,
    anotaciones text,
    fecha_creacion timestamp without time zone DEFAULT now(),
    firma text,
    metodo_pago character varying(50),
    precio_noche_snapshot numeric(12,2) DEFAULT NULL::numeric,
    temporada_tipo character varying(10) DEFAULT NULL::character varying,
    origen character varying(50) DEFAULT 'Propia'::character varying,
    CONSTRAINT chk_fechas_orden CHECK (((check_in IS NULL) OR (check_out IS NULL) OR (check_out > check_in))),
    CONSTRAINT chk_tipo_alojamiento CHECK ((((tipo_reserva)::text <> 'alojamiento'::text) OR ((check_in IS NOT NULL) AND (check_out IS NOT NULL)))),
    CONSTRAINT chk_tipo_evento CHECK ((((tipo_reserva)::text <> 'evento'::text) OR (fecha_evento IS NOT NULL)))
);


ALTER TABLE public.reserva OWNER TO postgres;

--
-- Name: reserva_id_reserva_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reserva_id_reserva_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reserva_id_reserva_seq OWNER TO postgres;

--
-- Name: reserva_id_reserva_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reserva_id_reserva_seq OWNED BY public.reserva.id_reserva;


--
-- Name: temporada; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.temporada (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    tipo character varying(10) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    anio integer,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL,
    mes_dia_inicio character varying(5) DEFAULT '01-01'::character varying,
    mes_dia_fin character varying(5) DEFAULT '12-31'::character varying,
    es_exacta boolean DEFAULT false NOT NULL,
    fecha_exacta_inicio character varying(10),
    fecha_exacta_fin character varying(10),
    CONSTRAINT temporada_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['alta'::character varying, 'media'::character varying, 'baja'::character varying])::text[])))
);


ALTER TABLE public.temporada OWNER TO postgres;

--
-- Name: temporada_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.temporada_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.temporada_id_seq OWNER TO postgres;

--
-- Name: temporada_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.temporada_id_seq OWNED BY public.temporada.id;


--
-- Name: tipo_espacio_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_espacio_config (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    precio_base numeric(12,2) NOT NULL,
    recargo_pareja numeric(12,2) NOT NULL,
    recargo_adicional numeric(12,2) NOT NULL,
    max_personas_adicionales integer DEFAULT 1 NOT NULL,
    precio_base_media numeric(12,2),
    precio_base_alta numeric(12,2),
    recargo_pareja_media numeric(12,2),
    recargo_pareja_alta numeric(12,2),
    recargo_adicional_media numeric(12,2),
    recargo_adicional_alta numeric(12,2)
);


ALTER TABLE public.tipo_espacio_config OWNER TO postgres;

--
-- Name: tipo_espacio_config_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipo_espacio_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipo_espacio_config_id_seq OWNER TO postgres;

--
-- Name: tipo_espacio_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipo_espacio_config_id_seq OWNED BY public.tipo_espacio_config.id;


--
-- Name: turno_caja; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.turno_caja (
    id_turno integer NOT NULL,
    id_usuario integer NOT NULL,
    fecha_apertura timestamp(6) without time zone DEFAULT now(),
    monto_apertura numeric(12,2) DEFAULT 0 NOT NULL,
    fecha_cierre timestamp(6) without time zone,
    monto_sistema numeric(12,2),
    monto_real numeric(12,2),
    diferencia numeric(12,2),
    estado character varying(20) DEFAULT 'abierto'::character varying NOT NULL,
    notas text
);


ALTER TABLE public.turno_caja OWNER TO postgres;

--
-- Name: turno_caja_id_turno_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.turno_caja_id_turno_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.turno_caja_id_turno_seq OWNER TO postgres;

--
-- Name: turno_caja_id_turno_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.turno_caja_id_turno_seq OWNED BY public.turno_caja.id_turno;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id_usuario integer NOT NULL,
    nombre_completo character varying(150) NOT NULL,
    username character varying(80) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol character varying(20) DEFAULT 'recepcionista'::character varying NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(6) without time zone DEFAULT now()
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuario_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_usuario_seq OWNER TO postgres;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuario_id_usuario_seq OWNED BY public.usuario.id_usuario;


--
-- Name: v_disponibilidad; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_disponibilidad AS
 SELECT e.numero AS espacio,
    e.tipo_habitacion,
    e.tipo_espacio,
    r.id_reserva,
    r.check_in,
    r.check_out,
    h.nombre_completo AS huesped,
    r.estado_reserva,
    r.estado_pago,
    r.cantidad_adultos,
    r.cantidad_ninos
   FROM ((public.espacio e
     LEFT JOIN public.reserva r ON (((r.id_espacio = e.id_espacio) AND ((r.estado_reserva)::text = 'activa'::text) AND ((r.tipo_reserva)::text = 'alojamiento'::text))))
     LEFT JOIN public.huesped h ON ((h.id_huesped = r.id_huesped)))
  WHERE (e.activo = true)
  ORDER BY e.numero;


ALTER VIEW public.v_disponibilidad OWNER TO postgres;

--
-- Name: audit_log id_log; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id_log SET DEFAULT nextval('public.audit_log_id_log_seq'::regclass);


--
-- Name: categoria_gasto id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_gasto ALTER COLUMN id SET DEFAULT nextval('public.categoria_gasto_id_seq'::regclass);


--
-- Name: categoria_inventario id_categoria; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_inventario ALTER COLUMN id_categoria SET DEFAULT nextval('public.categoria_inventario_id_categoria_seq'::regclass);


--
-- Name: configuracion_hotel id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion_hotel ALTER COLUMN id SET DEFAULT nextval('public.configuracion_hotel_id_seq'::regclass);


--
-- Name: cuenta_espacio id_item; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_espacio ALTER COLUMN id_item SET DEFAULT nextval('public.cuenta_espacio_id_item_seq'::regclass);


--
-- Name: cuenta_persona id_item_persona; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_persona ALTER COLUMN id_item_persona SET DEFAULT nextval('public.cuenta_persona_id_item_persona_seq'::regclass);


--
-- Name: espacio id_espacio; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.espacio ALTER COLUMN id_espacio SET DEFAULT nextval('public.espacio_id_espacio_seq'::regclass);


--
-- Name: gasto_operativo id_gasto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gasto_operativo ALTER COLUMN id_gasto SET DEFAULT nextval('public.gasto_operativo_id_gasto_seq'::regclass);


--
-- Name: huesped id_huesped; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.huesped ALTER COLUMN id_huesped SET DEFAULT nextval('public.huesped_id_huesped_seq'::regclass);


--
-- Name: inventario_minibar id_inventario; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_minibar ALTER COLUMN id_inventario SET DEFAULT nextval('public.inventario_minibar_id_inventario_seq'::regclass);


--
-- Name: movimiento_inventario id_movimiento; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_inventario ALTER COLUMN id_movimiento SET DEFAULT nextval('public.movimiento_inventario_id_movimiento_seq'::regclass);


--
-- Name: origen_reserva id_origen; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.origen_reserva ALTER COLUMN id_origen SET DEFAULT nextval('public.origen_reserva_id_origen_seq'::regclass);


--
-- Name: producto_inventario id_producto; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_inventario ALTER COLUMN id_producto SET DEFAULT nextval('public.producto_inventario_id_producto_seq'::regclass);


--
-- Name: proveedor id_proveedor; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proveedor ALTER COLUMN id_proveedor SET DEFAULT nextval('public.proveedor_id_proveedor_seq'::regclass);


--
-- Name: reserva id_reserva; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reserva ALTER COLUMN id_reserva SET DEFAULT nextval('public.reserva_id_reserva_seq'::regclass);


--
-- Name: temporada id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.temporada ALTER COLUMN id SET DEFAULT nextval('public.temporada_id_seq'::regclass);


--
-- Name: tipo_espacio_config id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_espacio_config ALTER COLUMN id SET DEFAULT nextval('public.tipo_espacio_config_id_seq'::regclass);


--
-- Name: turno_caja id_turno; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno_caja ALTER COLUMN id_turno SET DEFAULT nextval('public.turno_caja_id_turno_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuario_id_usuario_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_log (id_log, id_usuario, username, accion, descripcion, entidad, entidad_id, ip, fecha) FROM stdin;
1	1	admin	CAJA_APERTURA	Turno abierto con base de $110050	turno_caja	1	::1	2026-09-01 22:37:44.739
\.


--
-- Data for Name: categoria_gasto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categoria_gasto (id, nombre, activo) FROM stdin;
1	Servicios P├║blicos	t
2	Mantenimiento	t
3	N├│mina	t
4	Arriendo	t
5	Marketing	t
6	Otros	t
\.


--
-- Data for Name: categoria_inventario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categoria_inventario (id_categoria, nombre, activo, fecha_creacion) FROM stdin;
1	Minibar	t	2026-05-19 20:32:47.504
2	Cocina	t	2026-05-19 20:32:47.504
3	Aseo	t	2026-05-19 20:32:47.504
6	Otro	t	2026-05-19 20:32:47.504
4	Amenities	f	2026-05-19 20:32:47.504
5	Lenceria	f	2026-05-19 20:32:47.504
7	Cafeteria	t	2026-05-19 20:47:15.574
\.


--
-- Data for Name: configuracion_hotel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.configuracion_hotel (id, nombre_hotel, direccion, telefono, nit, email, ciudad, fecha_actualizacion, hora_check_in, hora_check_out) FROM stdin;
1	Hotel Boutique Campestre						2026-05-09 22:42:49.26	15:00	13:00
\.


--
-- Data for Name: cuenta_espacio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cuenta_persona; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cuenta_persona (id_item_persona, id_huesped, nombre_persona, id_reserva, fecha, descripcion, cantidad, valor_unitario, fecha_registro, estado, metodo_pago) FROM stdin;
1	\N	Alcalde	\N	2026-04-30	ÔÇö	0	0.00	2026-04-30 08:23:28.261	pendiente	\N
\.


--
-- Data for Name: espacio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gasto_operativo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: huesped; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventario_minibar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_minibar (id_inventario, id_espacio, nombre_producto, cantidad, precio_unitario, fecha_vencimiento, fecha_actualizacion) FROM stdin;
5	5	Agua Cristal 500ml	2	2000.00	\N	2026-05-23 01:54:37.892
1	5	Papas Margarita Paquete	4	3500.00	\N	2026-05-23 01:54:37.123
2	5	Coca-Cola 350ml	1	4000.00	\N	2026-05-23 01:54:37.323
3	5	Cerveza Club Colombia	1	5500.00	\N	2026-05-23 01:54:37.507
4	5	Jugo Hit 300ml	1	3000.00	\N	2026-05-23 01:54:37.7
\.


--
-- Data for Name: movimiento_inventario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: origen_reserva; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.origen_reserva (id_origen, nombre, activo) FROM stdin;
1	Booking.com	t
2	Airbnb	t
3	P├ígina Web	t
4	Expedia	t
5	Propia	t
\.


--
-- Data for Name: producto_inventario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: proveedor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.proveedor (id_proveedor, nombre, nit, telefono, email, direccion, ciudad, contacto, notas, activo, fecha_creacion) FROM stdin;
1	Distribuidora El Sabor	900123456-1	3124567890	ventas@elsabor.com	Calle 50 # 20-15, Bogota	\N	Jorge Salcedo	\N	t	2026-05-21 23:44:16.238
2	Limpieza Total Ltda	800987654-2	3156789012	info@limpiezatotal.com	Carrera 30 # 45-10, Bogota	\N	Maria Gonzalez	\N	t	2026-05-21 23:44:16.578
3	Cocina Express SAS	901234567-3	3012345678	pedidos@cocinaexpress.com	Av Caracas # 35-22, Bogota	\N	Carlos Rios	\N	t	2026-05-21 23:44:16.596
\.


--
-- Data for Name: reserva; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: temporada; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tipo_espacio_config; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipo_espacio_config (id, nombre, precio_base, recargo_pareja, recargo_adicional, max_personas_adicionales, precio_base_media, precio_base_alta, recargo_pareja_media, recargo_pareja_alta, recargo_adicional_media, recargo_adicional_alta) FROM stdin;
4	Suite	250000.00	40000.00	80000.00	2	\N	\N	\N	\N	\N	\N
3	Deluxe	200000.00	50000.00	80000.00	2	\N	\N	\N	\N	\N	\N
1	Standard	170000.00	50000.00	80000.00	1	\N	\N	\N	\N	\N	\N
7	Familiar	220000.00	50000.00	80000.00	3	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: turno_caja; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.turno_caja (id_turno, id_usuario, fecha_apertura, monto_apertura, fecha_cierre, monto_sistema, monto_real, diferencia, estado, notas) FROM stdin;
1	1	2026-09-01 22:37:44.718	110050.00	\N	\N	\N	\N	abierto	\N
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuario (id_usuario, nombre_completo, username, password_hash, rol, activo, fecha_creacion) FROM stdin;
1	Administrador	admin	$2b$10$4NH9mV2YykH4gI.0tYouHujm.Wbx4rfw9ji0yw5ULsJP6tPcP3Z1.	admin	t	2026-09-01 22:16:59.998
\.


--
-- Name: audit_log_id_log_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_log_seq', 1, true);


--
-- Name: categoria_gasto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_gasto_id_seq', 6, true);


--
-- Name: categoria_inventario_id_categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_inventario_id_categoria_seq', 8, true);


--
-- Name: configuracion_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.configuracion_hotel_id_seq', 1, true);


--
-- Name: cuenta_espacio_id_item_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuenta_espacio_id_item_seq', 19, true);


--
-- Name: cuenta_persona_id_item_persona_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cuenta_persona_id_item_persona_seq', 1, true);


--
-- Name: espacio_id_espacio_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.espacio_id_espacio_seq', 13, true);


--
-- Name: gasto_operativo_id_gasto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gasto_operativo_id_gasto_seq', 9, true);


--
-- Name: huesped_id_huesped_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.huesped_id_huesped_seq', 8, true);


--
-- Name: inventario_minibar_id_inventario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_minibar_id_inventario_seq', 5, true);


--
-- Name: movimiento_inventario_id_movimiento_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.movimiento_inventario_id_movimiento_seq', 19, true);


--
-- Name: origen_reserva_id_origen_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.origen_reserva_id_origen_seq', 5, true);


--
-- Name: producto_inventario_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.producto_inventario_id_producto_seq', 17, true);


--
-- Name: proveedor_id_proveedor_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.proveedor_id_proveedor_seq', 3, true);


--
-- Name: reserva_id_reserva_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reserva_id_reserva_seq', 12, true);


--
-- Name: temporada_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.temporada_id_seq', 8, true);


--
-- Name: tipo_espacio_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_espacio_config_id_seq', 7, true);


--
-- Name: turno_caja_id_turno_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.turno_caja_id_turno_seq', 1, true);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_id_usuario_seq', 1, true);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id_log);


--
-- Name: categoria_gasto categoria_gasto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_gasto
    ADD CONSTRAINT categoria_gasto_pkey PRIMARY KEY (id);


--
-- Name: categoria_inventario categoria_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categoria_inventario
    ADD CONSTRAINT categoria_inventario_pkey PRIMARY KEY (id_categoria);


--
-- Name: configuracion_hotel configuracion_hotel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion_hotel
    ADD CONSTRAINT configuracion_hotel_pkey PRIMARY KEY (id);


--
-- Name: cuenta_espacio cuenta_espacio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_espacio
    ADD CONSTRAINT cuenta_espacio_pkey PRIMARY KEY (id_item);


--
-- Name: cuenta_persona cuenta_persona_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_persona
    ADD CONSTRAINT cuenta_persona_pkey PRIMARY KEY (id_item_persona);


--
-- Name: espacio espacio_numero_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.espacio
    ADD CONSTRAINT espacio_numero_key UNIQUE (numero);


--
-- Name: espacio espacio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.espacio
    ADD CONSTRAINT espacio_pkey PRIMARY KEY (id_espacio);


--
-- Name: gasto_operativo gasto_operativo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gasto_operativo
    ADD CONSTRAINT gasto_operativo_pkey PRIMARY KEY (id_gasto);


--
-- Name: huesped huesped_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.huesped
    ADD CONSTRAINT huesped_pkey PRIMARY KEY (id_huesped);


--
-- Name: inventario_minibar inventario_minibar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_minibar
    ADD CONSTRAINT inventario_minibar_pkey PRIMARY KEY (id_inventario);


--
-- Name: movimiento_inventario movimiento_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_inventario
    ADD CONSTRAINT movimiento_inventario_pkey PRIMARY KEY (id_movimiento);


--
-- Name: origen_reserva origen_reserva_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.origen_reserva
    ADD CONSTRAINT origen_reserva_nombre_key UNIQUE (nombre);


--
-- Name: origen_reserva origen_reserva_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.origen_reserva
    ADD CONSTRAINT origen_reserva_pkey PRIMARY KEY (id_origen);


--
-- Name: producto_inventario producto_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_inventario
    ADD CONSTRAINT producto_inventario_pkey PRIMARY KEY (id_producto);


--
-- Name: proveedor proveedor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.proveedor
    ADD CONSTRAINT proveedor_pkey PRIMARY KEY (id_proveedor);


--
-- Name: reserva reserva_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reserva
    ADD CONSTRAINT reserva_pkey PRIMARY KEY (id_reserva);


--
-- Name: temporada temporada_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.temporada
    ADD CONSTRAINT temporada_pkey PRIMARY KEY (id);


--
-- Name: tipo_espacio_config tipo_espacio_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_espacio_config
    ADD CONSTRAINT tipo_espacio_config_pkey PRIMARY KEY (id);


--
-- Name: turno_caja turno_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.turno_caja
    ADD CONSTRAINT turno_caja_pkey PRIMARY KEY (id_turno);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: usuario usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_username_key UNIQUE (username);


--
-- Name: categoria_gasto_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categoria_gasto_nombre_key ON public.categoria_gasto USING btree (nombre);


--
-- Name: categoria_inventario_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categoria_inventario_nombre_key ON public.categoria_inventario USING btree (nombre);


--
-- Name: idx_audit_accion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_accion ON public.audit_log USING btree (accion);


--
-- Name: idx_audit_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_fecha ON public.audit_log USING btree (fecha);


--
-- Name: idx_audit_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_usuario ON public.audit_log USING btree (id_usuario);


--
-- Name: idx_caja_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_caja_estado ON public.turno_caja USING btree (estado);


--
-- Name: idx_caja_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_caja_usuario ON public.turno_caja USING btree (id_usuario);


--
-- Name: idx_cuenta_espacio_reserva; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cuenta_espacio_reserva ON public.cuenta_espacio USING btree (id_reserva);


--
-- Name: idx_cuenta_persona_huesped; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cuenta_persona_huesped ON public.cuenta_persona USING btree (id_huesped);


--
-- Name: idx_cuenta_persona_reserva; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cuenta_persona_reserva ON public.cuenta_persona USING btree (id_reserva);


--
-- Name: idx_gasto_categoria; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gasto_categoria ON public.gasto_operativo USING btree (categoria);


--
-- Name: idx_gasto_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_gasto_fecha ON public.gasto_operativo USING btree (fecha);


--
-- Name: idx_minibar_espacio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_minibar_espacio ON public.inventario_minibar USING btree (id_espacio);


--
-- Name: idx_movimiento_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movimiento_fecha ON public.movimiento_inventario USING btree (fecha);


--
-- Name: idx_movimiento_producto; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_movimiento_producto ON public.movimiento_inventario USING btree (id_producto);


--
-- Name: idx_producto_categoria; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_categoria ON public.producto_inventario USING btree (categoria);


--
-- Name: idx_producto_proveedor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_proveedor ON public.producto_inventario USING btree (id_proveedor);


--
-- Name: idx_reserva_checkin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reserva_checkin ON public.reserva USING btree (check_in);


--
-- Name: idx_reserva_checkout; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reserva_checkout ON public.reserva USING btree (check_out);


--
-- Name: idx_reserva_espacio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reserva_espacio ON public.reserva USING btree (id_espacio);


--
-- Name: idx_reserva_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reserva_estado ON public.reserva USING btree (estado_reserva);


--
-- Name: idx_reserva_huesped; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reserva_huesped ON public.reserva USING btree (id_huesped);


--
-- Name: idx_usuario_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuario_username ON public.usuario USING btree (username);


--
-- Name: tipo_espacio_config_nombre_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tipo_espacio_config_nombre_key ON public.tipo_espacio_config USING btree (nombre);


--
-- Name: cuenta_espacio cuenta_espacio_id_reserva_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_espacio
    ADD CONSTRAINT cuenta_espacio_id_reserva_fkey FOREIGN KEY (id_reserva) REFERENCES public.reserva(id_reserva);


--
-- Name: cuenta_persona cuenta_persona_id_huesped_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_persona
    ADD CONSTRAINT cuenta_persona_id_huesped_fkey FOREIGN KEY (id_huesped) REFERENCES public.huesped(id_huesped);


--
-- Name: cuenta_persona cuenta_persona_id_reserva_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cuenta_persona
    ADD CONSTRAINT cuenta_persona_id_reserva_fkey FOREIGN KEY (id_reserva) REFERENCES public.reserva(id_reserva);


--
-- Name: inventario_minibar inventario_minibar_id_espacio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_minibar
    ADD CONSTRAINT inventario_minibar_id_espacio_fkey FOREIGN KEY (id_espacio) REFERENCES public.espacio(id_espacio);


--
-- Name: movimiento_inventario movimiento_inventario_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimiento_inventario
    ADD CONSTRAINT movimiento_inventario_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto_inventario(id_producto) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: producto_inventario producto_inventario_id_proveedor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_inventario
    ADD CONSTRAINT producto_inventario_id_proveedor_fkey FOREIGN KEY (id_proveedor) REFERENCES public.proveedor(id_proveedor) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: reserva reserva_id_espacio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reserva
    ADD CONSTRAINT reserva_id_espacio_fkey FOREIGN KEY (id_espacio) REFERENCES public.espacio(id_espacio);


--
-- Name: reserva reserva_id_huesped_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reserva
    ADD CONSTRAINT reserva_id_huesped_fkey FOREIGN KEY (id_huesped) REFERENCES public.huesped(id_huesped);


--
-- PostgreSQL database dump complete
--

\unrestrict kEeeHcIVVhWVs4aAMI33bXuxW637zfp7i82n8mAc4uyCVgsIIccO7vbDu4lZviG

